<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>100039153703-v65hd1anib21ha2f8ef1mdqt2s2phqfm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.100039153703-v65hd1anib21ha2f8ef1mdqt2s2phqfm</string>
	<key>API_KEY</key>
	<string>AIzaSyC3tc_hmabFFdkEPWKSeQaBS7XfHIuFdxs</string>
	<key>GCM_SENDER_ID</key>
	<string>100039153703</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.NinjaMkt.Flash-Chat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-fb64e</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-fb64e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:100039153703:ios:f8d8dfe31bd8b524</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-fb64e.firebaseio.com</string>
</dict>
</plist>